body {
  font: 14px FreeSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5em;
}

a:link, a:visited {
  color: #DF2A00;
}

a:active, a:hover {
  color: #DF2A00;
}

.ContentPage #Content {
  padding: 50px 60px;
  border: none;
  margin-left: 200px !important;
  /* -webkit-box-shadow: inset 1px 0px 1px 1px #aaa; */
  /* box-shadow: inset 1px 0px 1px 1px #aaa; */
}

.CTopic {
  font-size: 14px;
  margin: 0;
}

#MainTopic .CTitle {
  font-family: FreeSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #222;
  background-color: #fff;
  border: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.CBody {
  margin: 0;
}

.CBody p {
  text-indent: 0;
  margin: 0 0 14px 0;
}

.Summary {
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;
}

.SBorder {
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #E0E0E0;
}

.STitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 14px;
}

.STable {
  font-size: 14px;
}

.SMain td, .SClass td, .SDatabase td, .SDatabaseTable td, .SSection td {
  font-size: 14px;
  padding-bottom: 0;
}

.SGroup .SEntry {
  font-weight: bold;
  font-variant: normal;
  padding-top: 14px;
  padding-bottom: 14px;
}

.SGroup .SEntry a {
  color: #666;
}

.SMarked {
  background-color: #F8F8F8;
}

.SIndent2 td {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #e0e0e0
}

.CGroup .CTitle {
  font-family: FreeSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-variant: normal;
  font-weight: bold;
  color: #222;
  padding: 40px 0 6px 0;
  border-width: 0 0 2px 0;
  border-color: #bbb;
  margin: 0 0 20px 0;
}

.CTitle {
  font-family: Monaco, Consolas, monospace;
  font-size: 18px;
  font-weight: normal;
  color: #2160AE;
  padding: 24px 0 4px 0;
  margin: 0 0 20px 0;
  border-color: #bbb;
}

.CHeading {
  font-weight: bold;
  font-size: 16px;
  margin: 30px 0 20px 0;
}

.CBody pre {
  font-family: Monaco, Consolas, monospace;
  font-size: 12px;
  background-color: #FCFCFC;
  margin: 0 0 20px 0;
  padding: 14px 20px 14px 14px;
  line-height: 1.5em;
}

.CDescriptionList {
  margin: 0 0 20px 14px;
}

.CDescriptionList td {
  vertical-align: middle;
  padding: 4px 0;
}

.CDescriptionList td.CDLEntry {
  font-family: Monaco, Consolas, monospace;
  font-size: 14px;
  color: #888;
  padding-bottom: 0;
  white-space: nowrap;
}

.CDescriptionList td.CDLDescription {
  font-size: 14px;
  padding-left: 24px;
}

.CBody ul {
  padding: 0;
  padding: 0;
  margin: 0 0 20px 30px;
}

.CBody ul li {
  margin: 0 0 10px 0;
}

.Prototype {
  font-family: Monaco, Consolas, monospace;
  font-size: 12px;
  margin: 0 0 20px 0;
  padding: 10px 14px;
}

.Prototype td {
  font-size: 12px;
}

.CClass .CTitle, .CInterface .CTitle, .CDatabase .CTitle, .CDatabaseTable .CTitle, .CSection .CTitle {
  font-family: FreeSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #222;
  background-color: #fff;
  border: none;
  padding: 40px 0 0 0;
  margin: 0 0 20px 0;
}


/* Menu */

.ContentPage #Menu, .IndexPage #Menu {
  width: 200px !important;
}

.ContentPage, .IndexPage, .FramedMenuPage {
  background-color: #DDD;
  background: #DDD url(http://remotestorage.io/img/cubes.png) repeat;
}

#Menu {
  font-size: 14px;
}

#Menu * {
  box-sizing: border-box;
}

.MTitle {
  display: none;
}

.MGroup {
  margin: 1em 0 1em 0;
}

.MGroup a:link, .MGroup a:hover, .MGroup a:visited {
  display: block;
  padding: 6px 20px 6px 20px;
  font-variant: normal;
  font-weight: bold;
  color: #333;
  margin-right: 0px;
}

.MGroup a:hover {
  background: #eee;
  text-decoration: none;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.MGroup a:active {
  color: #DF2A00;
}

.MFile, .MText, .MLink, .MIndex {
  padding: 0;
  margin: 0;
}

#MSelected {
  display: block;
  color: #2160AE;
  background-color: #fff;
  padding: 6px 20px 6px 20px;
  border: none;
  margin-right: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.MEntry .MFile a {
  display: block;
  padding: 6px 20px 6px 20px;
  font-weight: normal;
  color: #333;
}

.MEntry .MFile a:hover {
  background: #eee;
  text-decoration: none;
}

.MEntry .MFile a:active {
  color: #DF2A00;
}

.MGroup .MEntry {
    padding-left: 10px;
}

.MGroup .MEntry a {
  display: block;
  padding: 6px 20px 6px 10px;
  font-weight: normal;
}

.MGroup #MSelected {
  padding-left: 10px;
  border: none;
}

#MSearchPanel {
  padding: 20px 20px;
  margin: 0;
}

.Firefox #MSearchField, .IE #MSearchField, .Safari #MSearchField {
  width: 150px;
}

#MSearchField {
  font: 14px FreeSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #666;
  background-color: #F8F8F8;
  border: none;
  padding: 4px 8px;
  width: 100%;
  border-radius: 3px;
}

#MSearchPanel.MSearchPanelInactive:hover #MSearchField {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(192, 192, 192);
  padding: 4px 8px;
}

.MSearchPanelActive #MSearchField {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(192, 192, 192);
  font-style: normal;
  padding: 4px 8px;
}

/* Indexes */

.IndexPage #Index {
  border: none;
  font-size: 14px;
  margin-left: 200px;
}

.IndexPage #Index, .FramedIndexPage #Index, .FramedSearchResultsPage #Index {
  padding: 50px 60px;
  line-height: 1.5em;
}

.IPageTitle {
  font-family: FreeSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #222;
  background-color: #fff;
  border: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.INavigationBar {
  font-size: 14px;
  background-color: #F8F8F8;
  border: none;
  margin: 0 0 40px 0;
}

.IEntry {
  font-size: 14px;
  padding-left: 14px;
}

/* Misc */

#Footer {
  display: none;
}

