*~
\#*
.#*
*.swp
*.log
/build
/gitno
node_modules
doc/code
doc/_build
doc/__pycache__/
tags
.browserslistrc
.codeclimate.yml
esformatter-config.json
.eslintrc.js
/.github
.jshintrc
.readthedocs.yml
/scripts
test
tsconfig.json
webpack.config.js
