span.button {border: 1px solid; padding: 2px margin: 2px;}
span.iou {border: 1px solid; padding: 2px margin: 2px; background-color:pink;}
div.bevel {border: 1px solid; padding: 2px; margin: 2px;}
div.main {border: 4px solid; margin: 4px; height:480px; width: 320px;}
