
body {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

#target {
    border: solid 1px black;
    float: right;
    margin-right: 10em;
    min-height: 300px;
    min-width: 300px;
    position: relative;
}

#target input {
    border: none;
    bottom: 0;
    font-family: monospace;
    left: 0;
    position: absolute;
    width: 100%;
}

#list li {
    cursor: pointer;
}

#list li .delete {
    color: #eee;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 5px;
    vertical-align: middle;
}

#list li .delete:hover {
    color: #ccc;
}
