#header {
	line-height: 27px;
	background: white;
	position: fixed;
	left: 0;
	right: 0;
	height: 27px;
	padding: 5px;
	text-align: center;
}

#header {
	top: 0;
	border-bottom: 2px solid black;
}

#help {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: black;
	background: rgba(0, 0, 0, 0.75);
}

#help div {
	text-align: right;
	margin: 150px auto 0 auto;
	width: 400px;
	height: 90px;
	padding: 20px;
	color: black;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	background: white;
}

#help ul {
	margin: 0;
	padding: 0 0 20px 20px;
	text-align: left;
	line-height: 15px;
}

a.button {
	display: inline-block;
	color: black;
	text-decoration: none;
	padding: 5px 15px;
	line-height: 15px;
	margin: 0 0 0 5px;
	border: 1px solid #999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #EFEFEF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DFDFDF));
}

a.button:active {
	background: #D7D7D7;
	background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#DFDFDF));
}

body, td {
	background: white;
	color: black;
	margin: 0;
	font: 12px sans-serif;
}

table {
	margin: 0 auto;
	border-spacing: 0 0;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

td {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 3px 15px 20px 3px;
	text-align: right;
	vertical-align: top;
	width: 120px;
	height: 100px;
	cursor: pointer;
}

td span {
	margin-right: -10px;
}

td.extra {
	padding: 3px 10px;
	text-align: left;
	border: none;
	font: bold 30px 'Arial Narrow', sans-serif;
	line-height: 33px;
	cursor: auto;
}

td.shaded {
	background: #CFE7FF;
}

td.today {
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	padding-top: 1px;
	width: 116px;
}

textarea {
	display: block;
	width: 100%;
	overflow: hidden;
	font: 12px sans-serif;
	margin: 3px 0 0 0;
	padding: 2px 5px 0 5px;
	background: #CFE7FF;
	border: 1px solid #5FAFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	resize: none;
}

textarea:focus {
	outline: none;
}

td.shaded textarea {
	background: white;
}

a:focus {
	outline: none;
}
