li.hidden .test-output {
    display: none;
}

li.hidden h3:after {
    content: "+";
    display: "inline";
}

.test-output {
    background-color: black; color: #eee; padding: 1em; white-space: pre-wrap;
}
