/** encoding:utf-8 **/

/* RESET */
#remotestorage-widget {
    text-align: left;
}
#remotestorage-widget input,
#remotestorage-widget button {
    font-size: 11px;
}
#remotestorage-widget form input[type=email] {
    margin-bottom: 0;  /* HTML5 Boilerplate */
}
#remotestorage-widget form input[type=submit] {
    margin-top: 0;  /* HTML5 Boilerplate */
}
/* /RESET */

#remotestorage-widget, #remotestorage-widget * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#remotestorage-widget {
    position: absolute;
    right: 10px;
    top: 10px;
    font: normal 16px/100% sans-serif !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    cursor: default;
    z-index: 10000;
}

#remotestorage-widget .bubble {
    background: rgba(80, 80, 80, .7);
    border-radius: 5px 15px 5px 5px;
    color: white;
    font-size: 0.8em;
    padding: 5px;
    position: absolute;
    right: 3px;
    top: 9px;
    min-height: 24px;
    white-space: nowrap;
    text-decoration: none;
}

#remotestorage-widget .bubble-text {
    padding-right: 32px;
}

#remotestorage-widget .bubble.one-line {
    padding-bottom: 2px;
    border-radius: 5px 15px 15px 5px;
}

#remotestorage-widget .bubble.hidden {
    display: none;
}

#remotestorage-widget .action {
    cursor: pointer;
}

/* less obtrusive cube when connected */
#remotestorage-widget.remotestorage-state-connected .cube,
#remotestorage-widget.remotestorage-state-busy .cube {
	opacity:.3;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-ms-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}
#remotestorage-widget.remotestorage-state-connected:hover .cube,
#remotestorage-widget.remotestorage-state-busy:hover .cube,
#remotestorage-widget.remotestorage-state-connected .bubble:not(.hidden) + .cube {
	opacity:1 !important;
}

#remotestorage-widget .cube {
    position: relative;
    top: 5px;
    right: 0;
}

/* pulsing animation for cube when loading */
#remotestorage-widget .cube.remotestorage-loading {
    -webkit-animation:remotestorage-loading .5s ease-in-out infinite alternate;
    -moz-animation:remotestorage-loading .5s ease-in-out infinite alternate;
    -o-animation:remotestorage-loading .5s ease-in-out infinite alternate;
    -ms-animation:remotestorage-loading .5s ease-in-out infinite alternate;
    animation:remotestorage-loading .5s ease-in-out infinite alternate;
}
@-webkit-keyframes remotestorage-loading { to{opacity:.7} }
@-moz-keyframes remotestorage-loading { to{opacity:.7} }
@-o-keyframes remotestorage-loading { to{opacity:.7} }
@-ms-keyframes remotestorage-loading { to{opacity:.7} }
@keyframes remotestorage-loading { to{opacity:.7} }


#remotestorage-widget a {
    text-decoration: underline;
    color: inherit;
}

#remotestorage-widget form {
    margin-top: .7em;
    position: relative;
}

#remotestorage-widget form input {
    display: table-cell;
    vertical-align: top;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    outline: none;
    line-height: 1.5em;
    height: 2em;
}
#remotestorage-widget form input:disabled {
    color: #999;
    background: #444 !important;
    cursor: default !important;
}

#remotestorage-widget form input[type=email] {
    background: #000;
    width: 100%;
    height: 26px;
    padding: 0 30px 0 5px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #999;
}
#remotestorage-widget button:focus,
#remotestorage-widget input:focus {
    box-shadow: 0 0 4px #ccc;
}

#remotestorage-widget form input[type=email]::-webkit-input-placeholder {
    color: #999;
}
#remotestorage-widget form input[type=email]:-moz-placeholder {
    color: #999;
}
#remotestorage-widget form input[type=email]::-moz-placeholder {
    color: #999;
}
#remotestorage-widget form input[type=email]:-ms-input-placeholder {
    color: #999;
}

#remotestorage-widget form input[type=submit] {
    background: #000;
    cursor: pointer;
    padding: 0 5px;
}
#remotestorage-widget form input[type=submit]:hover {
    background: #333;
}

#remotestorage-widget .info {
    font-size: 10px;
    color: #eee;
    margin-top: 0.7em;
    white-space: normal;
}

#remotestorage-widget .info.last-synced-message {
    display: inline;
    white-space: nowrap;
    margin-bottom: .7em
}

#remotestorage-widget .info a:hover,
#remotestorage-widget .info a:active {
    color: #fff;
}

#remotestorage-widget button {
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    outline: none;
    line-height: 1.5em;
    height: 26px;
    width: 26px;
    background: #000;
    cursor: pointer;
    margin: 0;
    padding: 5px;
}
#remotestorage-widget button:hover {
    background: #333;
}

#remotestorage-widget .bubble button.connect {
    display: block;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    /* increase clickable area of connect button */
    margin: -5px;
    padding: 10px;
    width: 36px;
    height: 36px;
}
#remotestorage-widget .bubble button.connect:not([disabled]):hover {
    background: rgba(150,150,150,.5);
}
#remotestorage-widget .bubble button.connect[disabled] {
    opacity: .5;
    cursor: default !important;
}
#remotestorage-widget .bubble button.sync {
    position: relative;
    left: -5px;
    bottom: -5px;
    padding: 4px 4px 0 4px;
    background: #555;
}
#remotestorage-widget .bubble button.sync:hover {
    background: #444;
}
#remotestorage-widget .bubble button.disconnect {
    background: #721;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 4px 0 4px;
}
#remotestorage-widget .bubble button.disconnect:hover {
    background: #921;
}

#remotestorage-widget .remotestorage-error-info {
    /*color:#f00;*/
}
#remotestorage-widget .remotestorage-reset {
    width: 100%;
    background: #721;
}
#remotestorage-widget .remotestorage-reset:hover {
    background: #921;
}

#remotestorage-widget .bubble .content {
    margin-top: 7px;
}

#remotestorage-widget pre {
    user-select: initial;
    -webkit-user-select: initial;
    -moz-user-select: text;
    max-width: 27em;
    margin-top: 1em;
    overflow: auto;
}
