/** encoding:utf-8 **/

/* RESET */
#remotestorage-widget {
    text-align: left;
}
#remotestorage-widget input,
#remotestorage-widget button {
    font-size: 11px;
}
#remotestorage-widget form input[type=email] {
    margin-bottom: 0;  /* HTML5 Boilerplate */
}
#remotestorage-widget form input[type=submit] {
    margin-top: 0;  /* HTML5 Boilerplate */
}
/* /RESET */

#remotestorage-widget, #remotestorage-widget * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#remotestorage-widget {
    position: absolute;
    right: 10px;
    top: 10px;
    font: normal 16px/100% sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    cursor: default;
    z-index: 10000;
}

#remotestorage-widget .bubble {
    background: rgba(80, 80, 80, .7);
    border-radius: 5px 15px 5px 5px;
    color: white;
    font-size: 0.8em;
    padding: 5px;
    position: absolute;
    right: 3px;
    top: 9px;
    min-height: 24px;
    white-space: nowrap;
    text-decoration: none;
}

#remotestorage-widget .bubble-text {
    padding-right: 32px;
}

#remotestorage-widget .bubble.one-line {
    padding-bottom: 2px;
    border-radius: 5px 15px 15px 5px;
}

#remotestorage-widget .bubble.hidden {
    display: none;
}

#remotestorage-widget:hover .bubble.hidden {
    display: block;
}

#remotestorage-widget .action {
    cursor: pointer;
}

#remotestorage-widget .cube {
    position: relative;
    top: 5px;
    right: 0;
}

#remotestorage-widget .cube.spinning {
    -webkit-animation-name:remotestorage-loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-name:remotestorage-loading;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -o-animation-name:remotestorage-loading;
    -o-animation-duration:2s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    -ms-animation-name:remotestorage-loading;
    -ms-animation-duration:2s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
}
@-webkit-keyframes remotestorage-loading { from{-webkit-transform:rotate(0deg)} to{-webkit-transform:rotate(360deg)} }
@-moz-keyframes remotestorage-loading { from{-moz-transform:rotate(0deg)} to{-moz-transform:rotate(360deg)} }
@-o-keyframes remotestorage-loading { from{-o-transform:rotate(0deg)} to{-o-transform:rotate(360deg)} }
@-ms-keyframes remotestorage-loading { from{-ms-transform:rotate(0deg)} to{ -ms-transform:rotate(360deg)} }


#remotestorage-widget a {
    text-decoration: underline;
    color: inherit;
}

#remotestorage-widget form {
    margin-top: 0.7em;
}

#remotestorage-widget form input {
    display: table-cell;
    vertical-align: top;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    outline: none;
    line-height: 1.5em;
    height: 2em;
}
#remotestorage-widget form input:disabled {
    color: #999;
    background: #444 !important;
    cursor: default !important;
}

#remotestorage-widget form input[type=email] {
    background: #000;
    width: 16em;
    padding: 0 5px;
    margin-right: 5px;
}
#remotestorage-widget button:focus,
#remotestorage-widget input:focus {
    box-shadow: 0 0 4px #ccc;
}

#remotestorage-widget form input[type=email]::-webkit-input-placeholder {
    color: #999;
}
#remotestorage-widget form input[type=email]:-moz-placeholder {
    color: #999;
}
#remotestorage-widget form input[type=email]::-moz-placeholder {
    color: #999;
}
#remotestorage-widget form input[type=email]:-ms-input-placeholder {
    color: #999;
}

#remotestorage-widget form input[type=submit] {
    background: #000;
    cursor: pointer;
    padding: 0 5px;
}
#remotestorage-widget form input[type=submit]:hover {
    background: #333;
}

#remotestorage-widget .info {
    font-size: 10px;
    color: #eee;
    margin-top: 0.7em;
    white-space: normal;
}

#remotestorage-widget .info.last-synced-message {
    white-space: nowrap;
    margin-bottom: .7em
}

#remotestorage-widget .info.error {
    font-weight: bold;
    color: #f92;
}

#remotestorage-widget .info a:hover,
#remotestorage-widget .info a:active {
    color: #fff;
}

#remotestorage-widget .bubble button {
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    outline: none;
    line-height: 1.5em;
    height: 2em;
    background: #000;
    cursor: pointer;
    margin: 0;
    padding: 0 5px;
}
#remotestorage-widget .bubble button:hover {
    background: #333;
}

#remotestorage-widget .bubble button.sync {
    margin-right: 5px;
}
#remotestorage-widget .bubble button.disconnect {
    background: #721;
    position: absolute;
    right: 5px;
}
#remotestorage-widget .bubble button.disconnect:hover {
    background: #921;
}

#remotestorage-widget pre {
    user-select: initial;
    -webkit-user-select: initial;
    -moz-user-select: text;
    max-width: 27em;
    margin-top: 1em;
    overflow: auto;
}
