#remotestorage-widget {
    position: absolute;
    right: 10px;
    top: 10px;
    font: normal 16px/100% sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

#remotestorage-widget .bubble {
    background: #545454;
    border-radius: 5px 15px 5px 5px;
    color: white;
    font-size: 0.8em;
    padding: 5px 28px 2px 6px;
    position: absolute;
    right: 3px;
    top: 9px;
    min-height: 18px;
    opacity: 0.7;
    white-space: nowrap;
    text-decoration: none;
}

#remotestorage-widget .bubble.one-line {
    padding-bottom: 0px;
}

#remotestorage-widget .bubble.hidden {
    display: none;
}

#remotestorage-widget .bubble.hidden .content {
    display: none;
}

#remotestorage-widget:hover .bubble.hidden {
    display: block;
}

#remotestorage-widget .bubble.hidden:hover .content {
    display: block;
}


#remotestorage-widget .action {
    cursor: pointer;
}

#remotestorage-widget .cube {
    position: absolute;
    top: 5px;
    right: 0px;
}

#remotestorage-widget .cube.spinning {
    -webkit-animation-name:remotestorage-loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-name:remotestorage-loading;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -o-animation-name:remotestorage-loading;
    -o-animation-duration:2s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    -ms-animation-name:remotestorage-loading;
    -ms-animation-duration:2s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
}
@-webkit-keyframes remotestorage-loading { from{-webkit-transform:rotate(0deg)} to{-webkit-transform:rotate(360deg)} }
@-moz-keyframes remotestorage-loading { from{-moz-transform:rotate(0deg)} to{-moz-transform:rotate(360deg)} }
@-o-keyframes remotestorage-loading { from{-o-transform:rotate(0deg)} to{-o-transform:rotate(360deg)} }
@-ms-keyframes remotestorage-loading { from{-ms-transform:rotate(0deg)} to{ -ms-transform:rotate(360deg)} }


#remotestorage-widget a {
    text-decoration: none;
    color: inherit;
}

#remotestorage-widget form {
    margin: 0.7em 0;
}

#remotestorage-widget form input {
    border: none;
    border-radius: 6px;
    font-weight: bold;
    padding: 0.2em 1em;
    color: white;
    outline: none;
    line-height: 1.5em;
}

#remotestorage-widget form input[type=email] {
    background: #333;
    width: 12em;
    height: 1.5em;
}

#remotestorage-widget form input[type=submit] {
    background: #000;
    position: absolute;
    display: inline-block;
    right: 1em;
    top: 2.1em;
}

#remotestorage-widget .info {
    padding: 0.7em 0 0.2em 0;
    font-size: 0.8em;
}

#remotestorage-widget .bubble button {
    background: #333;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

#remotestorage-widget .bubble button.sync {
    display: block;
    float: left;
    margin-left: -6px;
}
