/** encoding:utf-8 **/

/* RESET */
#remotestorage-widget {
    text-align: left;
}
#remotestorage-widget input,
#remotestorage-widget button {
    font-size: 11px;
}
#remotestorage-widget form input[type=email] {
    margin-bottom: 0;  /* HTML5 Boilerplate */
}
#remotestorage-widget form input[type=submit] {
    margin-top: 0;  /* HTML5 Boilerplate */
}
/* /RESET */

#remotestorage-widget, #remotestorage-widget * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#remotestorage-widget {
    position: absolute;
    right: 10px;
    top: 10px;
    font: normal 16px/100% sans-serif !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    cursor: default;
    z-index: 10000;
}

#remotestorage-widget .rs-bubble {
    background: rgba(80, 80, 80, .7);
    border-radius: 5px 15px 5px 5px;
    color: white;
    font-size: 0.8em;
    padding: 5px;
    position: absolute;
    right: 3px;
    top: 9px;
    min-height: 24px;
    white-space: nowrap;
    text-decoration: none;
}


.rs-bubble .rs-bubble-text {
    padding-right: 32px;
    /* make sure the bubble doesn't "jump" when initially opening. */
    min-width: 182px;
}

#remotestorage-widget .rs-action {
    cursor: pointer;
}

/* less obtrusive cube when connected */
#remotestorage-widget.remotestorage-state-connected .rs-cube,
#remotestorage-widget.remotestorage-state-busy .rs-cube {
    opacity:.3;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
#remotestorage-widget.remotestorage-state-connected:hover .rs-cube,
#remotestorage-widget.remotestorage-state-busy:hover .rs-cube,
#remotestorage-widget.remotestorage-state-connected .rs-bubble:not(.rs-hidden) + .rs-cube {
    opacity:1 !important;
}

#remotestorage-widget .rs-backends {
    position: relative;
    top: 5px;
    right: 0;
}

#remotestorage-widget .rs-cube {
    position: relative;
    top: 5px;
    right: 0;
}

/* pulsing animation for cube when loading */
#remotestorage-widget .rs-cube.remotestorage-loading {
    -webkit-animation:remotestorage-loading .5s ease-in-out infinite alternate;
    -moz-animation:remotestorage-loading .5s ease-in-out infinite alternate;
    -o-animation:remotestorage-loading .5s ease-in-out infinite alternate;
    -ms-animation:remotestorage-loading .5s ease-in-out infinite alternate;
    animation:remotestorage-loading .5s ease-in-out infinite alternate;
}
@-webkit-keyframes remotestorage-loading { to{opacity:.7} }
@-moz-keyframes remotestorage-loading { to{opacity:.7} }
@-o-keyframes remotestorage-loading { to{opacity:.7} }
@-ms-keyframes remotestorage-loading { to{opacity:.7} }
@keyframes remotestorage-loading { to{opacity:.7} }


#remotestorage-widget a {
    text-decoration: underline;
    color: inherit;
}

#remotestorage-widget form {
    margin-top: .7em;
    position: relative;
}

#remotestorage-widget form input {
    display: table-cell;
    vertical-align: top;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    outline: none;
    line-height: 1.5em;
    height: 2em;
}
#remotestorage-widget form input:disabled {
    color: #999;
    background: #444 !important;
    cursor: default !important;
}

#remotestorage-widget form input[type=email]:focus,
#remotestorage-widget form input[type=password]:focus {
    background: #223;
}
#remotestorage-widget form input[type=email],
#remotestorage-widget form input[type=password] {
    background: #000;
    width: 100%;
    height: 26px;
    padding: 0 30px 0 5px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #999;
}
#remotestorage-widget form input[type=email]:focus,
#remotestorage-widget form input[type=password]:focus {
    background: #223;
}

#remotestorage-widget button:focus,
#remotestorage-widget input:focus {
    box-shadow: 0 0 4px #ccc;
}

#remotestorage-widget form input[type=email]::-webkit-input-placeholder,
#remotestorage-widget form input[type=password]::-webkit-input-placeholder {
    color: #999;
}
#remotestorage-widget form input[type=email]:-moz-placeholder,
#remotestorage-widget form input[type=password]:-moz-placeholder {
    color: #999;
}
#remotestorage-widget form input[type=email]::-moz-placeholder,
#remotestorage-widget form input[type=password]::-moz-placeholder {
    color: #999;
}
#remotestorage-widget form input[type=email]:-ms-input-placeholder,
#remotestorage-widget form input[type=password]:-ms-input-placeholder {
    color: #999;
}

#remotestorage-widget form input[type=submit] {
    background: #000;
    cursor: pointer;
    padding: 0 5px;
}
#remotestorage-widget form input[type=submit]:hover {
    background: #333;
}

#remotestorage-widget .rs-info-msg {
    font-size: 10px;
    color: #eee;
    margin-top: 0.7em;
    white-space: normal;
}

#remotestorage-widget .rs-info-msg.last-synced-message {
    display: inline;
    white-space: nowrap;
    margin-bottom: .7em
}

#remotestorage-widget .rs-info-msg a:hover,
#remotestorage-widget .rs-info-msg a:active {
    color: #fff;
}

#remotestorage-widget button img {
    vertical-align: baseline;
}
#remotestorage-widget button {
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    outline: none;
    line-height: 1.5em;
    height: 26px;
    width: 26px;
    background: #000;
    cursor: pointer;
    margin: 0;
    padding: 5px;
}
#remotestorage-widget button:hover {
    background: #333;
}

#remotestorage-widget .rs-bubble button.connect, 
#remotestorage-widget .rs-bubble button.rs-cipher, 
#remotestorage-widget .rs-bubble button.rs-nocipher {
    display: block;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    /* increase clickable area of connect, rs-cipher & rs-nocipher buttons */
    margin: -5px;
    padding: 10px;
    width: 36px;
    height: 36px;
}
#remotestorage-widget .rs-bubble button.rs-cipher {
    width: 46px;
}
#remotestorage-widget .rs-bubble button.rs-nocipher {
    height: 26px;
    margin: 0;
    padding: 4px 5px 5px;
    right: -32px;
    width: 26px;
}
#remotestorage-widget .rs-bubble button.connect:not([disabled]):hover, 
#remotestorage-widget .rs-bubble button.rs-cipher:not([disabled]):hover, 
#remotestorage-widget .rs-bubble button.rs-nocipher:not([disabled]):hover {
    background: rgba(150,150,150,.5);
}
#remotestorage-widget .rs-bubble button.connect[disabled], 
#remotestorage-widget .rs-bubble button.rs-cipher[disabled] {
    opacity: .5;
    cursor: default !important;
}
#remotestorage-widget .rs-bubble button.rs-sync {
    position: relative;
    left: -5px;
    bottom: -5px;
    padding: 4px 4px 0 4px;
    background: #555;
}
#remotestorage-widget .rs-bubble button.rs-sync:hover {
    background: #444;
}
#remotestorage-widget .rs-bubble button.rs-disconnect {
    background: #721;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 4px 0 4px;
}
#remotestorage-widget .rs-bubble button.rs-disconnect:hover {
    background: #921;
}

#remotestorage-widget .remotestorage-error-info {
    color: #f92;
}
#remotestorage-widget .remotestorage-reset {
    width: 100%;
    background: #721;
}
#remotestorage-widget .remotestorage-reset:hover {
    background: #921;
}

#remotestorage-widget .rs-bubble .rs-content {
    margin-top: 7px;
}

#remotestorage-widget pre {
    user-select: initial;
    -webkit-user-select: initial;
    -moz-user-select: text;
    max-width: 27em;
    margin-top: 1em;
    overflow: auto;
}
#remotestorage-widget .rs-centered-text{
    text-align: center;
}
#remotestorage-widget .rs-bubble.rs-hidden {
    padding-bottom: 2px;
    border-radius: 5px 15px 15px 5px;
}

#remotestorage-widget .rs-error-msg{
    min-height: 5em;
}

.rs-bubble.rs-hidden .rs-bubble-expandable {
    display: none;
}
.remotestorage-state-connected .rs-bubble.rs-hidden{
    display: none;
}

.remotestorage-connected {
    display: none;
}
.remotestorage-state-connected .remotestorage-connected {
    display: block;
}
.remotestorage-cipher-form {
    display: none;
}
.remotestorage-cipher .remotestorage-cipher-form {
    display: block;
}
.remotestorage-invalid-key {
    display: none;
}
.remotestorage-invalid-key.remotestorage-cipher-error {
    display: block;
}
.remotestorage-initial {
    display: none;
}
.remotestorage-state-initial .remotestorage-initial {
    display: block;
}
.remotestorage-error {
    display: none;
}
.remotestorage-state-error .remotestorage-error {
    display: block;
}
.remotestorage-state-authing .remotestorage-authing {
    display: block;
}
.remotestorage-state-offline .remotestorage-connected,
.remotestorage-state-offline .remotestorage-offline{
    display: block;
}
.remotestorage-unauthorized {
    display: none;
}
.remotestorage-state-unauthorized .rs-bubble.rs-hidden{
    display: none;
}
.remotestorage-state-unauthorized .remotestorage-connected,
.remotestorage-state-unauthorized .remotestorage-unauthorized {
    display: block;
}
.remotestorage-state-unauthorized .rs-sync{
    display: none;
}

.remotestorage-state-busy .rs-bubble.rs-hidden{
   display: none;
}
.remotestorage-state-busy .rs-bubble{
    display: block;
}
.remotestorage-state-busy .remotestorage-connected{
  display: block;
}
.remotestorage-state-authing .rs-bubble-expandable{
    display: none;
}




