#remotestorage-widget {
    position: absolute;
    right: 10px;
    top: 10px;
    font: normal 16px/100% sans-serif;
}

#remotestorage-widget .bubble {
    background: #545454;
    border-radius: 5px 15px 5px 5px;
    color: white;
    font-size: 0.8em;
    padding: 5px 28px 2px 6px;
    position: absolute;
    right: 3px;
    top: 9px;
    min-height: 18px;
    opacity: 0.7;
    white-space: nowrap;
    text-decoration: none;
}

#remotestorage-widget.bubble-hidden .bubble {
    display: none;
}

#remotestorage-widget.bubble-hidden:hover .bubble {
    display: block;
}

#remotestorage-widget .action {
    cursor: pointer;
}

#remotestorage-widget .cube {
    position: absolute;
    top: 5px;
    right: 0px;
}

#remotestorage-widget a {
    text-decoration: none;
    color: inherit;
}

#remotestorage-widget .connect-form {
    margin: 0.7em 0;
}

#remotestorage-widget .connect-form input {
    border: none;
    border-radius: 6px;
    font-weight: bold;
    padding: 0.2em 1em;
    color: white;
    outline: none;
    line-height: 1.5em;
}

#remotestorage-widget .connect-form input[type=email] {
    background: #333;
    width: 12em;
    height: 1.5em;
}

#remotestorage-widget .connect-form input[type=submit] {
    background: #000;
    position: absolute;
    display: inline-block;
    right: 1em;
    top: 2.1em;
}

#remotestorage-widget .info {
    padding: 0.7em 0 0.2em 0;
    font-size: 0.8em;
}

#remotestorage-widget .bubble button {
}