body{
	margin: 0;
	padding: 0;
	font-family: 'lucida grande', helvetica, arial, sans-serif;
	text-align: center;
	background: #83b457;
	
}

.preload2, .preload{
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	left: -5000px;
}

.preload2{
	background-image: url('./img/changehover.png');
}
.preload{
	background-image: url('./img/takemeinhover.png');
}


#footerSpacer {
	padding-bottom: 200px; /* bottom padding for footer */
}
html, body {
	height: 100%;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
   	
}

body{
	display: block;
	width: 100%;
	min-width:960px;
	margin: 0 auto;
	overflow: visible;
}
//html{background: yellow;}

#mainWrap{
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */	
}

header h1{
	background: url('./img/myfavouritesandwich.png') no-repeat center top;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 64px;
	text-indent: -5000px;
}
section.container_12 {
	display: block;
	margin-bottom: 40px;
	overflow: hidden;
}
/* HEADER
---------------------------------*/
#preheader{
	display: block;
	height: 50px;
	background: #455d2f;
	border-bottom: 1px solid #a7cb87;
	position: relative;
	margin: 0 auto;
}
	#preheader span{
		position: relative;
		width: 100%;
		text-align: left;
	}
		#preheader span span{
			display: block;
			position: relative;
			margin: 15px auto;
			width: 960px;
			text-align: left;
		}

	#plateContainer{		
		display: block;
		position: relative;
		top: -50px;
		margin: 0 auto;
		margin-bottom: -300px;
		height: 254px;
		overflow: hidden;
	}
	#plateContainer figure{
		position: relative;
		background: url('./img/plate.png') no-repeat right top;
		width: 672px;
		margin: 0 auto;
		height: 254px;
		z-index: 100;
		left: 410px;
		top: 0px;
		overflow: hidden;
	}
header {
	position: relative;
	top: 100px;
	background:#465f30;
	display: block;
	width: 	510px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	padding: 40px 0 30px 0;
	margin-bottom: 200px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius:25px;
	-webkit-box-shadow: 0 1px 0 rgb(198,237,164);
	-moz-box-shadow: 0 1px 0 rgb(198,237,164);
	box-shadow: 0 1px 0 rgb(198,237,164);
	margin-bottom: 130px;
}


header.data{
	width: 600px;
	margin-bottom: 220px;
}
	header.data form{
		width: 450px;
		margin: 0 auto;
		margin-bottom: 0px;
	}
header p{
	padding: 0;
	margin: 40px 0 20px 0;
	text-shadow: 0 1px 0 rgb(42,57,28);
	-webkit-text-shadow: 0 1px 0 rgb(42,57,28);
	-moz-text-shadow: 0 1px 0 rgb(42,57,28);
}
header.data p{
	margin-bottom: 40px;
	margin-top: 20px;
}

header form{
	padding-bottom: 20px;
	
}
header input[type=submit]{
	background: url('./img/takemein.png') no-repeat left top;
	border: none;
	width: 152px;
	height: 38px;
	color: white;
	text-shadow: 0 -1px #8BC0D9;
	font-size: 1em;
	position: relative;
	text-indent: -5000px;
}
	header input.submitingredients{
		background: url('./img/change.png') no-repeat left top;
	}

	header.data input{
		margin-bottom: 10px;
	}
	header.data input[type=submit]{
		display: block;
		margin: 0 auto;
		margin-top: 10px;	
	}
	
header input[type=submit]:hover{
	background: url('./img/takemeinhover.png') no-repeat left top;
	cursor: pointer;
}

header input[type=submit]:active{
	background: url('./img/takemein.png') no-repeat left top;
	cursor: pointer;
}
	header input.submitingredients:hover{
		background: url('./img/changehover.png') no-repeat left top;
		cursor: pointer;
	}
	
	header input.submitingredients:active{
		background: url('./img/change.png') no-repeat left top;
		cursor: pointer;
	}
	


header input[type=text]{
	background: url('./img/input1.png') no-repeat left top;
	width: 236px;
	height: 38px;
	padding:0 10px;
	border: none;
	color: #aaa;
	

}
	header input[type=text].formfocus{
		color: black;	
	}
	
	header input[type=text].formblur{
		color: #aaa;	
	}

header p{
	color: #ddedd2;
}
	header p.hint{
		color: ;
		font-size: 0.6em;
		margin-top: 10px;
		opacity: .8;
		margin-bottom: 0;
	}
		header p.hint span{
			opacity: .6;
		}

#register{
	color:  #335400;
	position: relative;
	text-shadow: 0 1px 0 rgb(198,237,164);
	-webkit-text-shadow: 0 1px 0 rgb(198,237,164);
	-moz-text-shadow: 0 1px 0 rgb(198,237,164);
	font-size: 1.1em;
	display: block;
	margin-bottom: 100px;
}
	#register strong{
		color:  #335400;
	}
	#register p{
		margin-bottom: 10px;
	}	
			

#register input[type=text]{
	padding: 3px 5px;
	width: 180px;
	
}
#register input[type=submit]{
	font-family: helvetica, arial, sans-serif;
	padding: 3px 5px;
	background: #638642;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	height: 27px;
	color: white;
	position: relative;
	top: -2px;	
	padding: 0 15px;
	font-size: 1.1em;
}		
/* FOOTER
----------------------------------*/

footer {
	background: #bed7a7 url('./img/footerback.png') repeat-x top left fixed;
	width: 100%;
	font-size: 1em;
	display: block;
	position: absolute;
	bottom: 0px;
	margin: 0 auto;
	color: #566f34;
	text-align:left;
	padding-top: 30px;
	padding-bottom: 10px;	
	}
	footer a{
		color: #28381c;
		text-decoration: underline;
		}
	footer div{
		display: block;
		width: 200px;
		float: left;
		width: 380px;
		margin-left: 10px;
	}
	
	footer figure{
		background: url('./img/island.png') no-repeat center top transparent;
		display: block;
		height: 200px;
		width: 190px;
		position: absolute;
		left: 370px;
		margin: 0 auto;
	}
	footer div #rightcolumn{
		float: right;
		margin-right: 10px;
		}
	
		footer div.wrapper{
			display: block;
			float: none;
			width: 960px;
			margin: 0 auto;
			position: relative;
			
		}
	footer h3{
		font-size: 1.4em;
		font-weight: bold;
		text-shadow: 8 8 8 #000;
		color: #284200;	
		margin-bottom: 10px;
		font-family: 'lucida grande', helvetica, arial, sans-serif;
		
	}
	
	footer p strong{
		font-weight: bold;
		text-shadow: 8 8 8 #000;
		color: #284200;	
		margin-bottom: 10px;
	}
	
	
	.clear{clear: both;}
	.hidden{display: none;}
