
#connected {
    display:none;
}

#disconnected {
    display:block;
}

body.connected #connected {
    display:block;
}

body.connected #disconnected {
    display:none;
}

#directory-tree {
    overflow: hidden;
}

#directory-tree li .expand {
    cursor: pointer;
}

#directory-tree li ul {
    padding-left: 16px;
}

#directory-tree li {
    white-space:nowrap;
}

#directory-tree li .name {
    cursor: pointer;
    padding: 3px;
}

#directory-tree li .name:hover {
    background: #ddd;
    border-radius: 4px;
}

#directory-tree li.current > .name {
    background: #aaa;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

#content textarea {
    font-family:monospace;
    min-height: 300px;
    width: 100%;
}

#directory-tree li.has-diff .name, #content table tr.has-diff td.name {
    text-decoration: underline;
}

#directory-tree .nav-header, #content .nav-header { display: inline; }

#content {
    overflow: auto;
}

#content .btn-group {
    margin-bottom: 20px;
}

#content table tbody td {
    cursor: pointer;
}

#content table tbody tr:hover td {
    background: #ddd;
}

#controls {
    background-image: -webkit-linear-gradient(white, #ddd);
    background-image: -moz-linear-gradient(white, #ddd);
    background-image: linear-gradient(white, #ddd);
    width: 30em;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0 0 10px 10px;
    min-height: 2em;
}

#controls a {
    text-decoration: none;
}

#controls a .text {
    color: #aaa;
    display: none;
}

#controls:hover a .text {
    display: inline;
}

#controls a .icon-wrench {
    margin-right: 3px;
}

#content form .input {
    clear: both;
    line-height: 2em;
    white-space: nowrap;
    width: 100%;
}

#content form .input label, #content form .input input {
    display: inline-block;
    line-height: 1.5em;
    margin-bottom: 10px;
    vertical-align: middle;
}

#content form .input label {
    width: 100px;
}

#content form .input input {
    background: white;
    border: solid 1px white;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-sizing: border-box;
    padding: 0 0 0 5px;
    width: 70%;
}

#content form .input input:hover, #content form .input input:focus {
    border-color: black;
}