name: test-and-lint
on:
  push:
    branches: [ master, stable ]
  pull_request:
    branches: [ master, stable ]
jobs:
  build:
    name: node.js
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        # Support LTS versions based on https://nodejs.org/en/about/releases/
        node-version: ['18', '20']
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Run jaribu tests   # These must be replaced before we can use Node v18 in CI
        run: npm test
      - name: Run mocha tests
        run: npm run test:mocha -- --exit
      - name: Lint source code
        run: npm run lint:quiet
      - name: Lint mocha specs
        run: npm run lint:specs:quiet
      - name: Run webpack
        run: npm run build:release
